
  <div class="container ">
  
        <div class="row bg-primary rounded shadow border-top  p-3 mt-3">
            <h2 class="col-12 text-center text-uppercase">
                Share our site!
            </h2>
            <div class="d-flex m-4 text-dark text-uppercase  m-auto">
              <span class= "mx-1 badge badge-pill badge-primary"><a class="social-text " href="#"><i class=" fa fa-twitter"></i> twitter</a></span>
              <span class=" mx-1 badge badge-pill badge-secondary"><a class="social-text " href="#"><i class="fa fa-facebook"></i> facebook</a></span>
              
          </div>
        </div>
     
  </div>
