.img-thumbnail {
    width: 95%;
    height: 95%;
    border: none;
}

.card-body {

}

.card-footer{

    background-color: #fff;
    border-top: none;
}


.tab-panel {
    border:none;
    padding: 0;
    border-radius: 4px;
    
}

.header-edit{
    color: #464646;
}
