
.mast{
    text-align: center;
    background-color: rgba(137, 43, 226, 0.208);
    border-radius: 20px;
    margin-bottom: 20px;
}
.register{
    text-align: center;
    background-color: rgba(202, 182, 205, 0.386);
    border-radius: 20px;
}